.logo-img {
    height: 65px;
}

.user-img {
    height: 50;
    margin-top: 6px;
}

.search-bar {
    height: 36px;
    width: 270px;
    margin-right: 14px;
    margin-top: 14px;
}

.nav-wrapper .input-field input[type="search"] {
    padding-left: 15px;
    color: black;
}

.navbar {
    width: 85%;
    margin: auto;
}

.input-field input[type=search] ~ .mdi-navigation-close,
.input-field input[type=search] ~ .material-icons {
    top: -13;
}

.container {
    width: 85%;
    height: 200px;
    margin: auto;
    margin-top: 40px;
}

.drop-text{
    font-size: small;
}